<!-- registro.html -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/assets/css/registro.css">
    <title>Registro de Usuario y Estudiante</title>
</head>
<body>
    <div class="header-background"></div>
    <div class="content">
        <h1>Registro de Usuario y Estudiante</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Registrar</button>
        </form>
    </div>
</body>
</html>
