<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/static/assets/css/home_estudiante.css">
  <link rel="stylesheet" type="text/css" href="/static/assets/css/header.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500&display=swap" rel="stylesheet">
<title>Página Principal</title>
</head>

<body>
  <header>
    {%include 'include/header.html'%}
  </header>

  <section class="contenido-principal">
    <div class="contenedor-item">

    </div>
  </section>

  <footer>
    {%include 'include/footer.html'%}
  </footer>
</body>

<script src="./main.js" type="module"></script>

</html>